<?php
/**
 * Webinse
 *
 * PHP Version 5.6.23
 *
 * @category    Webinse
 * @package     Webinse_Faq3
 * @author      Webinse Team <info@webinse.com>
 * @copyright   2017 Webinse Ltd. (https://www.webinse.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0
 */
/**
 * Template for add/edit FAQ item
 *
 * @category    Webinse
 * @package     Webinse_Faq3
 * @author      Webinse Team <info@webinse.com>
 * @copyright   2017 Webinse Ltd. (https://www.webinse.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0
 */
/**
 * @var $this Webinse_Faq3_Block_Faq
 */
?>
<?php $helper = Mage::helper('faq3'); // @todo: you must set properly URI of your helper ?>
<?php $item = $helper->getFaqById(); ?>

<form action="<?php echo Mage::getUrl('faq3/index/save') ?>" method="post" id="form-validate">
    <h2 class="legend">
        <?php if ($item->getId()): ?>
            <?php echo $helper->__('Edit') ?>
        <?php else: ?>
            <?php echo $helper->__('Add') ?>
        <?php endif; ?>
    </h2>
    <ul class="form-list">
        <?php 
        /**
         * @todo complete form use example
         *       class 'required-entry' means that field is required and js will be check it
         *          you can see all classes in the js/prototype/validation.js (line 418)
         */
        ?>
        <li class="wide">
            <label for="question" class="required"><em>*</em><?php echo $helper->__('Question') ?></label>
            <div class="input-box">
                <input type="text" name="question" value="<?php echo $item->getQuestion(); ?>" title="<?php echo $helper->__('Question') ?>" class="input-text required-entry" />
            </div>

            <label for="answer" class="required"><em>*</em><?php echo $helper->__('Answer') ?></label>
            <div class="input-box">
                <input type="text" name="answer" value="<?php echo $item->getAnswer(); ?>" title="<?php echo $helper->__('Answer') ?>" class="input-text required-entry" />
                <input type="hidden" name="id" value="<?php echo $item->getId(); ?>" />
            </div>

            <div class="input-box">
                <input type="submit" value="Submit"/>
            </div>
        </li>
    </ul>
</form>

<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
//]]>
</script>


